.social-icon {
  width: 27px;
}

.stores {
  width: 40%;
}

.payment {
  display: flex;
  font-size: 14.49px;
  font-weight: 700;
  line-height: 19.73px;
  
  
}
.support {
  display: flex;
  font-size: 14.49px;
  font-weight: 700;
   
 
  
}
@media (max-width: 768px) {
  .stores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 0.7rem;
    width: 50%;
  }

  .social-icon {
    width: 25px;
   
  }
  /* .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .txt {
    text-align: center;
    
  } */
  .payment {
    display: flex;
    font-size: 14.49px;
    font-weight: 700;
    line-height: 19.73px;
    
    
  }
  .support {
    font-size: 14.49px;
    font-weight: 700;
    line-height: 19.73px;
   
    
  }
}
